// Project palette

$white: rgba(255, 255, 255, 1);
$dark-blue: rgba(16, 38, 84, 1);
$dark-blue-50: rgba(16, 38, 84, 0.5);
$dark-blue-89: rgba(16, 38, 84, 0.89);
$light-blue: rgba(16, 58, 174, 1);
$red: rgba(237, 2, 51, 1);
$gradient-red: rgba(184, 0, 39, 1);
$gradient-blue: rgba(0, 61, 133, 1);
$light-gray: rgba(120, 120, 120, 0.2);
$gray-bg: rgba(248, 249, 252, 1);
$border-gradient: linear-gradient(97.05deg, rgba(237, 2, 51, 1) 17.6%, rgba(16, 38, 84, 1) 95.31%);
$arrow: rgba(175, 175, 175, 1);
$gray: rgba(182, 189, 204, 1);
$advantages-border: rgba(209, 10, 66, 0.2);
$advantages-container: rgba(28, 51, 116, 1);

// Viewports
// ---------------------------------

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1199px;
$desktop-width: 1200px;
